* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background-color: white;
    box-sizing: border-box;
}


header {
    display: flex;
    background-color:rgb(231, 145, 188);
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.red{
    border: rgb(247, 116, 203) solid 1px;
}
div {
    display: flex;
    background-color: white;
    align-items: center;
    
}
h1 {
    color: rgb(231, 145, 188);
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: rgb(231, 145, 188);
    gap: 15px;
}
li {
    background-color: rgb(231, 145, 188);
    font-size: 25px;
    color: white;
    transition: 0.5s;
    
}
.logo {
    border: 4px solid rgb(231, 145, 188);
    margin-top: 0;
    padding: 0 10px;
}

.logo img {
    width: 150px;
    height: 150px;
}
li:hover{
    color: thistle;
}


main {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
gap: 10px;
}

.card{
    font-size: 20px;
    color: rgb(221, 87, 110);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.card img{
    border-radius: 10px;
    width: 220px;
    height: 220px;
}
 .card :hover {
   box-shadow: inset 0 0 1em gold, 0 0 1em rgb(199, 92, 110);
   transition: 300ms;
 }

.textinho{
    font-size: 1rem;
}
#imagem-pet {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.pet{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}
footer{
    margin-top: 100px;
    text-align: center;
}

@media (max-width: 450px) {
   h1 {
       font-size: 16px;
   }
   
   li {
     font-size: 15px ;
   }
}